################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Worldbuilder/bin
/Worldbuilder/obj
*.suo
