#################################################
# This .gitignore file was automatically created.
#################################################

/GUI/bin
/GUI/obj
/Worldbuilder/bin
/Worldbuilder/obj
*.suo
*.lnk

# For GMs only
NormalGMNarrationKey.ini
FinaleNarrationKey.ini
/Narration/**/*.txt
/Narration/**/*.decrypted