#################################################
# This .gitignore file was automatically created.
#################################################

/GUI/bin
/GUI/obj
/Worldbuilder/bin
/Worldbuilder/obj
*.suo
*.lnk
*.user

# For GMs only
NormalGMNarrationKey.ini
FinaleNarrationKey.ini
/Narration/**/*.txt
/Narration/**/*.decrypted

#Googl App Engine
app.yaml
lib/**/*

#Telegram Bot
keys.ini

#PyCharm
.idea/**/*